.showcase {
  height: 500px;
  width: 100%;
  padding: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: whitesmoke;
  font-family: 'Lucida Sans Regular';
}

.side-img {
  width: 500px;
  height: 380px;
}

/* .showcase.active {
  right: 300px;
} */

/* .showcase img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
} */
.text {
  position: relative;
}

.text h2 {
  font-size: 3em;
  font-weight: 800;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 2em;
  font-weight: 700;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  color: black;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text button {
  display: inline-block;
  font-size: 1em;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text button:hover {
  letter-spacing: 6px;
}

@media (max-width: 735px) {

  .showcase,
  .showcase header {
    padding: 0.5px;

  }

  .text h2 {
    padding: 1px;
    font-size: 4rem;
  }

  .text h3 {
    font-size: 1.5em;
  }

  .logo {
    display: none;
  }

}

@media (max-width: 900px) {
  .showcase {
      height: 550px;
      background-color: whitesmoke;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin-top: 20%;
      margin-bottom: 20%;
      padding: 7%;
      /* overflow: hidden; */
  }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text h2, .text h3{
      text-align: center;
      width: 75%;
  }
  .text h3{
    font-weight: lighter;
  }
}

@media (max-width: 480px) {
  .text{
    font-size: 14px;
  }
  .text h2, .text h3{
    font-size: 14px; 
  }
  .text h3{
    font-weight: lighter;
    font-size: 12px;
  }
  .side-img {
    width:90px;
  }
}