.contacts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3%;
  padding: 2%;
  background: linear-gradient(180deg, rgba(16, 12, 80, 0.929) 51%, rgba(62, 11, 100, 0.937) 93%);
  color: white;
}


.emails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.emails p,
.socials p,
.phone p,
.address p,
.address span {
  font-size: 12px;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cnt-icns {
  width: 30px;
  height: 30px;
}

.price {
  font-size: 22px;
  width: 25%;

}

@media screen and (min-width: 650px) {
  .contacts-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lucida Grande';
    margin-top: 2px;
    margin-bottom: 5px;
    height: 200px;
  }

  .emails p,
  .socials p,
  .phone p,
  .address p,
  .address span {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {

  .emails p,
  .socials p,
  .phone p,
  .address p,
  .address span {
    font-size: 20px;
  }
}