.user-profile {
    display: flex;
    height: 100vh;
    background-color: white;
    font-family: 'Lucida Sans';
}


.profile {
    background: linear-gradient(180deg, rgba(203, 226, 247, 1) 0%, rgba(252, 251, 209, 1) 75%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 1%;
    min-width: 100px;
}

.prfl-avatar {
    /* flex: 0 1 100px; */
    height: 80px;
    width: auto;
}

.prfl-dtls {
    letter-spacing: 1px;
    font-weight: bold;
    /* flex: 0 1 100px; */
}

#prfl-update {
    width: auto;
    margin-top: 15%;
}

#prfl-update:hover {
    letter-spacing: 2px;
}

.bookings-area {
    height:fit-content;
    width: 80%;
    min-width: 100px;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: aliceblue;
}

.deets {
    width: 300px;
    min-width: 100px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(138, 137, 137, 0.55);
    box-shadow: 5px 5px 5px black;
    border-radius: 12px;
    transition: transform 400ms ease-in;
    cursor: pointer;
}

.space-img{
    width: 100%;
    height: 40%;
}
.dtls{
    display: flex;
    flex-direction: column;
    height: 20%;
}

.more-details {
    width: 100%;
    height: 40%;
    margin: 3%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.rmv-book {
    width: 30px;
    height: 30px;
    align-self:flex-end;
}

.deet:hover {
    transform: scale(1.012);
}

.deet>img {
    width: 100%;
}


.deets:hover {
    transform: scale(1.01);
}



/* UPDATE FORM */
.update-form {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.update-form form {
    height: 200px;
    width: 300px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.update-form form input {
    width: 100%;
}