.user-profile {
    display: flex;
    height: 100vh;
    background-color: white;
    font-family: 'Lucida Sans';
}


.profile {
    background: linear-gradient(180deg, rgba(203, 226, 247, 1) 0%, rgba(252, 251, 209, 1) 75%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 1%;
    min-width: 100px;
}

.prfl-avatar {
    /* flex: 0 1 100px; */
    height: 80px;
    width: auto;
}

.lower-dtls {
    font-size: 12px;
}

.prfl-dtls {
    font-weight: bold;
}

.prfl-update {
    width: 80%;
    margin-top: 10%;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 15px;
    height: 30px;
    align-self: center;
}

#prfl-update:hover {
    letter-spacing: 2px;
}

.bookings-area {
    height: 100%;
    width: 60%;
    min-width: 100px;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1fr);
    grid-gap: 20px;
}

.deets {
    height: fit-content;
    background-color: rgba(138, 137, 137, 0.55);
    border-radius: 12px;
    cursor: pointer;
    padding: 2%;
}

.deets button {
    margin-top: 0%;
    width: 40%;
}

.space-img {
    width: 100%;
}

.dtls {
    display: flex;
    flex-direction: column;
}

.more-details {
    height: 30%;
}


/* UPDATE FORM */
.update-form {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 1%;
    width: 100%;
}


.update-form form {
    height: 200px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.update-form form input {
    width: 100%;
    height: 40px;
}


@media screen and (min-width: 768px) {
    .bookings-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

    .prfl-avatar {
        height: 100px;
        width: auto;
    }

    .lower-dtls {
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) {
    .bookings-area {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    .profile {
        width: 20%;
    }
}