.Admin {
    display: flex;
}

#admin-login {
    width: auto;
}

.sidebar {
    background-color: #0FD0D0;
    color: white;
    font-weight: bold;
    width: 20%;
    height: 100vh;

}

.sidebar h1 {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(65, 105, 225, 0.7);
    margin-bottom: 10%;
    margin-top: 10%;
}

.sidebar ul {
    font-size: 20px;
}

.sidebar ul li {
    margin-top: 12%;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li i {
    margin-right: 3%;
}

.body-content {
    padding: 3%;
    width: 100%;
}

.top {
    /* background-color: antiquewhite; */
    margin-left: 8%;
}

.error {
    color: red;
}

/* .btns {
    display: flex;
    font-weight: bold;
}

.btns>.edit {
    background-color: green;
    color: white;
}

.btns>.delete {
    background-color: red;
    color: white;
} */

.edit-unit {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

.admin-login {
    margin: 10%;
    margin-left: 30%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    padding: 7%;
}

.admin-login>button {
    width: 100%;
}

.unit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    color: black;
}

.unit-form h1 {
    text-align: center;
}


/* Available units */
.btn-primary {
    width: auto;
}

.available-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-danger {
    height: 47px;
    width: 100px;
}