.about-section {
    width: 100vw;
    padding: 2%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('/home/gitahievans/Development/Projects/PRO-DEV/store-center-front/public/pictures/midjany_A_large_storage_facility_spanning_a_large_area_bright_a_23a9a676-0c83-4073-8222-350b6d442823.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    padding: 2%;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.welcome img {
    height: 150px;
    width: auto;
    filter: opacity(80%);
}

.welcome h2 {
    font-size: 28px;
    font-weight: 400;
    font-family: serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.welcome h4 {
    font-size: 20px;
    font-weight: 200;
}

.about {
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2%;
}


.home-text p {
    font-size: 20px;
    font-weight: 200;
}

#book-now {
    margin-top: 10%;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}

#need-btn {
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20%;
}

@media screen and (min-width: 555px) {
    .welcome {
        width: 100%;
    }

    .welcome img {
        height: 180px;
    }

    .about {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px) {
    .welcome h2 {
        font-size: 45px;
        margin-left: 5%;
    }

    .welcome h4 {
        font-size: 35px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        font-weight: 300;
    }

    .welcome img {
        height: 250px;
        width: 300px;
    }

    #book-now {
        margin-top: 8%;
    }

    .about {
        width: 60%;
        align-self: flex-start;
        margin-left: 5%;
    }

    .home-text p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        font-weight: 200;
    }
}

@media screen and (min-width: 1000px) {
    .welcome {
        width: 100%;
        margin-top: -2%;
        margin-left: -7%;
    }

    .welcome img {
        height: 350px;
        width: 450px;
    }

    .welcome h2 {
        font-size: 50px;
        height: 150px;
        width: 50%;
        justify-content: space-between;
        margin-top: 3%;
    }

    .welcome h4 {
        font-size: 30px;
    }

    .home-text p {
        font-size: 30px;
    }

    #book-now {
        margin-top: 3%;
    }

    #need-btn {
        margin-top: 5%;
    }
}