* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    box-sizing: border-box;

}


.About-section {
    height: 550px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.about-img {
    margin-top: 3%;
    margin-left: 1%;
    width: 550px;
    height: 400px;
}

/* styling about */

.about {
    color: black;
    /* background: linear-gradient(90deg, rgba(226, 211, 211, 0.149) 0%, rgba(245, 245, 245, 0.6446953781512605) 99%); */
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 700px;
    font-family: 'Lucida Grande';
    text-align: left;
    width: 40%;
    height: 400px;
    padding: 2%;
    margin-top: 3%;
}

.title {
    line-height: 40px;
    font-size: 35px;
}

.about-text {
    font-size: 19px;
    margin-top: 20px;
    line-height: 40px;
    letter-spacing: 1px;
}

/* container styling */

.main {
    width: 100vw;
    height: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
    flex-grow: 1;
    /* margin-top: 5%; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(50deg, rgba(2, 0, 36, 1) 0%, rgba(15, 208, 208, 1) 100%, rgba(0, 212, 255, 1) 100%);
    padding: 5%;
}

.deet {
    width: 100%;
    height: 100%;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 5px 5px 5px black;
    border-radius: 12px;
    transition: transform 400ms ease-in;
    cursor: pointer;
}

.deet:hover {
    transform: scale(1.012);
}

.deet>img {
    width: 100%;
}

.details {
    width: 100%;
    margin: 3%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#price {
    background-color: #0FD0D0;
    padding: 2%;
    font-weight: 700;
}

/* book now */
.book {
    background: linear-gradient(50deg, rgba(2, 0, 36, 1) 0%, rgba(15, 208, 208, 1) 100%, rgba(0, 212, 255, 1) 100%);
    font-weight: 700;
    width: 415px;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
    color: white;
}

img {
    border-radius: 12px;
}