* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    box-sizing: border-box;

}


.About-section {
    height: 550px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.about-img {
    margin-top: 3%;
    margin-left: 1%;
    width: 550px;
    height: 400px;
}

/* styling about */

.about {
    color: black;
    /* background: linear-gradient(90deg, rgba(226, 211, 211, 0.149) 0%, rgba(245, 245, 245, 0.6446953781512605) 99%); */
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 700px;
    font-family: 'Lucida Grande';
    text-align: left;
    width: 40%;
    height: 400px;
    padding: 2%;
    margin-top: 3%;
}

.title {
    line-height: 40px;
    font-size: 35px;
}

.about-text {
    font-size: 19px;
    margin-top: 20px;
    line-height: 40px;
    letter-spacing: 1px;
}