.login-container {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.login-form {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.14889705882352944) 0%, rgba(245, 245, 245, 0.6446953781512605) 99%);
  width: 60%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4%;
  border-radius: 20px;
  font-family: 'Lucida Grande';
}

.logn {
  margin-bottom: 30px;
}

.avatar {
  height: 100px;
}

.user,
.pass {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.back-to-signup {
  margin-left: 10px;
  color: rgb(0, 128, 255);
  text-decoration: none;
  font-size: 18px;
}





























/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,300;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}



.m-5-auto {
  margin: 5rem auto;
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: 0.6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: capitalize;
}

/* Login Page*/
/* h2 {
  font-weight: 300;
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
}

form label {
  float: left;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.right-label {
  float: right;
  cursor: pointer;
}

input {
  width: 15rem;
  padding: 0.3rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

#sub_btn {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}


#sub_btn:hover {
  background: #333;
  transition: all 0.5s;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
} */

.spinner{
  
}