.login-container {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  align-items: center;
}

.login-form {
  background: linear-gradient(180deg, rgba(16, 12, 80, 0.929) 51%, rgba(62, 11, 100, 0.937) 93%);
  width: 60%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 5%;
  border-radius: 20px;
  font-family: 'Lucida Grande';
}

.logn {
  margin-bottom: 30px;
  font-size: 20px;
}

.avatar {
  height: 100px;
}

.user,
.pass {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.back-to-signup {
  margin-left: 10px;
  color: rgb(0, 128, 255);
  text-decoration: none;
  font-size: 18px;
}

.login-form form{
  padding: 2%;
  width: 100%;
}
.login-form form input{
  width: 100%;
}
.login-form form button{
  width: 100%;
}


@media screen and (min-width:768px){
  .logn {
      font-size: 30px;
    }
}