

.login-container {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.login-form {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.14889705882352944) 0%, rgba(245, 245, 245, 0.6446953781512605) 99%);
  width: 60%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1%;
  padding: 5%;
  border: 2px solid purple;
  border-radius: 20px;
  font-family: 'Lucida Grande';
}

.logn {
  margin-bottom: 30px;
}

.avatar {
  height: 100px;
}

.user,
.pass {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.back-to-signup {
  margin-left: 10px;
  color: rgb(0, 128, 255);
  text-decoration: none;
  font-size: 18px;
}

.login-form form{
  padding: 2%;
  width: 100%;
}
.login-form form input{
  width: 100%;
}
.login-form form button{
  width: 100%;
}
