.navbar {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  text-decoration: none;
  font-size: 24px;
}

.storage {
  color: white;
  font-family: 'Lucida Sans';
}

.center {
  color: white;
  font-family: 'Lucida Sans';
}

/* MENU */

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;

}

.nav-items a {
  text-decoration: none;
  color: white;
  padding: 6px 16px;
  border-radius: 10px;
}

.nav-items a:hover {
  background: rgb(73, 1, 96);
}

.logout {
  text-decoration: none;
  color: wheat;
  font-size: 1.1rem;
  padding: 6px 16px;
  border: none;
  border-radius: 10px;
  background-color: rgb(92, 0, 120);
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 15vh;
  }

  .navbar-logo {
    font-size: 30px;
  }

  .nav-items {
    width: 80%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    flex-direction: row;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
  }

  .navbar-logo {
    font-size: 35px;
  }

  .nav-items {
    width: 50%;
    font-size: 20px;
  }
}