.navbar {
  height: 13vh;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  margin-left: 5px;
}

.navbar-logo {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;

}

.storage {
  color: #0622db;
  font-family: 'Lucida Sans';
}

.center {
  color: #5c06a2fd;
  font-family: 'Lucida Sans';
}

.container-logo {
  height: 80px;
  width: auto;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
  font-family: 'Lucida Sans';
  /* border: 1px saddlebrown solid; */
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  margin-right: 3rem;
  padding: 6px 16px;
  border-radius: 10px;

}

.nav-item a:hover {
  background: gainsboro;
}

.logout {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  margin-right: 3rem;
  padding: 6px 16px;
  border-radius: 10px;

}

.deps {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.deps>li {
  margin: 5%;
}

.deps>li>a {
  text-decoration: none;
}

.deps>li>a:hover {
  background: gainsboro;
}
.fa-bars{
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
.navbar{
  /* border: 3px solid green; */
  height: 40vh;
  display: flex;
  flex-direction: column;
}
.logo{
  /* border: 3px solid rgb(10, 72, 143); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo p{
  font-size: 28px;
}
}

@media (max-width: 480px) {
  .navbar{
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo p{
    font-size: 28px;
    font-weight: bolder;
    margin-left: 35px;
  }
  .nav-items{
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
  }
  .nav-item a, .logout {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
  }
  .nav-item {
    display: flex;
    align-items: center;
  }
}

.storage, .center{
  animation: color-change 3s linear infinite;
}

@keyframes color-change {
  200% {
    color: red;
  }

  100% {
    color: rgb(255, 149, 0);
  }

  140% {
    color:rgb(255, 25, 0);
  }

  100% {
    color: rgb(21, 137, 0);
  }

  200% {
    color: blue;
  }

  100% {
    color: rgb(250, 3, 250);
  }
}