.bookings-container {
    background-color: white;
    display: flex;
    height: 70vh;
    margin-top: 7%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
    min-width: 200px;
}

.booking-form {
    background-color: #b0e1e1;
    width: 85%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacedetails {
    width: 100%;
    color: rgb(7, 32, 99);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.form-inputs {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 3%;
}

.book-space {
    margin-top: 3%;
}


.form-control {
    background-color: rgb(174, 203, 230);
    height: 50px;
    width: 100%;
    padding: 0px 25px;
    border: none;
    border-radius: 40px;
    color: black;
    -webkit-box-shadow: 0px 0px 0px 2px transparent;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: 0.2s;
    transition: 0.7s
}

.form-control:hover {
    background-color: rgba(163, 177, 192, 0.2);
}

.form-control:focus {
    background-color: white;
}


.booking-form .form-control:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #0FD0D0;
    box-shadow: 0px 0px 0px 2px #0FD0D0
}

.form-text {
    color: black;
    font-size: 18px;
    align-self: flex-start;
}

/* .booking-form select.form-control option {
    color: #000
} */

.btn-primary {
    font-weight: 700;
    margin-top: 3%;
    height: 45px;
    padding: 10px 30px;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2.3px;
    -webkit-transition: 0.2s all;
    transition: 0.6s all
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
    opacity: 0.9;
}
.custom-shape-divider-top-1671614062 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1671614062 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 39px;
}

.custom-shape-divider-top-1671614062 .shape-fill {
    fill: #0D6EFD;
}

@media screen and (min-width: 1000px) {
    .booking-form {
        width: 50%;
    }

    .form-inputs {
        width: 80%;

    }
}