.bookings-container {
    background-color: white;
    display: flex;
    height: 70vh;
    margin-top: 7%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
}

.booking-form {
    background-color: #f0ffff;
    width: 60%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacedetails {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 3%;
}

.form-header {
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 42px;
    margin: 0px;
    color: black;
}

.form-control {
    background-color: rgb(95, 102, 109);
    height: 50px;
    padding: 0px 25px;
    border: none;
    border-radius: 40px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 0px 2px transparent;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: 0.2s;
    transition: 0.7s
}


.booking-form .form-control:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #0FD0D0;
    box-shadow: 0px 0px 0px 2px #0FD0D0
}

.form-text {
    color: black;
    font-size: 18px;
    align-self: flex-start;
}

/* .booking-form select.form-control option {
    color: #000
} */

.btn-primary {
    font-weight: 700;
    margin-top: 3%;
    height: 45px;
    padding: 10px 30px;
    width: 100%;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2.3px;
    -webkit-transition: 0.2s all;
    transition: 0.6s all
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
    opacity: 0.9;
}