.signup-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height:75vh;
}

.form-control {
    background-color: white;
    width: 600px;
}

.signup-form {
    background: linear-gradient(180deg, rgba(16, 12, 80, 0.929) 31%, rgba(62, 11, 100, 0.93) 73%);
    border-radius: 50px;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    font-family: 'Lucida Grande';
        border-image-repeat: stretch;
}

.signup-form input{
    width: 35vw;
  }

.sign-btns {
    background-color: rgb(75, 231, 179);
    width: 100px;
    padding: 3px;
    opacity: 0.6;
    border-radius: 4px;
    margin-top: 3px;
}

#already-sign {
    margin-top: 20px;
    display: flex;
}

.sign-btns .signin {
    color: white;
    text-decoration: none;

}

.btn-primary {
    margin-top: 1%;
    width: 600px;
    font-weight: 500;
    font-size: 19px;
    border-radius: 30px;
}

.already-sign {
    margin-top: 2px;
    display: flex;
}

.signin {
    margin-left: 10px;
    color: rgb(0, 195, 255);
    text-decoration: none;
}

.signup-title {
    margin-top: 12px;
    color: white;
    font-size: 20px;
}

.already {
        color: white;}

.labels {
    color: rgb(17, 204, 204);
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .signup-title{
        font-size: 25px;
    }
}

@media screen and (min-width: 1000px) {
    .signup-title {
        font-size: 30px;
    }
}