.signup-container {
    background-color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 103vh;

}

/* .form-input {
    background: rgb(226, 226, 226);
    border: 2px solid black;
} */

.form-control {
    background-color: white;
    width: 600px;
}

.signup-form {
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.14889705882352944) 0%, rgba(245, 245, 245, 0.6446953781512605) 99%);
    ;
    width: 50vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4%;
    font-family: 'Lucida Grande';
    /* border: 2px solid black; */
}


.sign-btns {
    background-color: rgb(75, 231, 179);
    width: 100px;
    padding: 3px;
    opacity: 0.6;
    border-radius: 4px;
    margin-top: 3px;
}

#already-sign {
    margin-top: 20px;
    display: flex;
}

.sign-btns .signin {
    color: white;
    text-decoration: none;

}

.btn-primary {
    margin-top: 1%;
    width: 600px;
    font-weight: 500;
    font-size: 19px;
    border-radius: 30px;
}

.already-sign {
    margin-top: 2px;
    display: flex;
}

.signin {
    margin-left: 10px;
    color: rgb(0, 128, 255);
    text-decoration: none;
}

.signup-title {
    margin-top: 12px;
}

.already {
    color: black;
}

.labels {
    color: rgb(17, 204, 204);
    font-size: 15px;
}