/* container styling */

.main {
    width: 100vw;
    height: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    flex-grow: 1;
    /* margin-top: 5%; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 5%;
    background: azure;
}

.deet {
    width: 100%;
    height: 100%;
    /* margin: 2%; */
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b0d2d6;
    box-shadow: 5px 5px 5px black;
    border-radius: 12px;
    transition: transform 400ms ease-in;
    cursor: pointer;
}

.deet:hover {
    transform: scale(1.032);
}

.deet>img {
    width: 100%;
}

.details {
    width: 100%;
    margin: 3%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#price {
    padding: 2%;
    font-weight: 700;
}

/* book now */
.book {
    background: linear-gradient(50deg, rgba(2, 0, 36, 1) 0%, rgba(15, 208, 208, 1) 100%, rgba(0, 212, 255, 1) 100%);
    font-weight: 700;
    width: 415px;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
    color: white;
}

img {
    border-radius: 12px;
}